html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.padding-25-top {
  padding-top: 25px;
}

.loading-div {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.center-all-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
